.header{
    background: rgb(100, 100, 100);
    height: 100px;
    position: relative;
}

.header-left{
     position: absolute;
     top: 0;
     left: 0;
     margin: 10px;
     color: black;
    pointer-events: none;
}

.welcome{
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 10px 5px 10px rgba(0,0,0,.5);
}

.reconnect{
    width: min-content;
    height: min-content;
    margin-top: 5px;
    transition: .2s all;
    pointer-events: initial;
}

.reconnect:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    cursor:pointer;
}



/*!*LOGOUT*!*/
.logout{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    height: 80px;
    transition: .2s all;
}
.logout:hover{
    /*     background :black; */
    cursor: pointer;
    box-shadow: -5px 5px 10px rgba(0,0,0,0.5);
}

.logout:hover path{
    /*     fill: white; */
}


.header-buttons{
    display: flex;
    margin: auto;
    height: 100%;

    background: lightgray;
}

.header-buttons :first-child{
    margin-left: auto;

}

.header-buttons :last-child{
    margin-right: auto;
}

.header-button{
    font-size: 2rem;
    margin: auto 1rem;
    padding: 1rem 2em;

    font-weight: bold;
    background-color: black;
    color: transparent;
    text-shadow: 1px 2px 2px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.header-button:hover{
    box-shadow:   0 0 10px rgba(0,0,0,0.5);
    transition: .2s all;
    cursor: pointer;
}





