.chess{

  table{
    border-collapse: collapse;
    border: 3px solid black;

    .square{
      width: 100px;
      height: 100px;
      border: 1px solid black;
    }

    .square.selected{
      background: #87C3E9!important;
    }

    .square.even{
      background: rgba(255, 255, 255, .6);
    }

    .square.odd{
      background: rgba(255, 255, 255, .1);
    }

    td{
      padding: 0;
    }

    .square.clickable:hover{
      cursor: pointer;
    }

    .square.clickable:hover{
      box-shadow: 0 0 0 2px white inset;
    }
  }

  .promotion-type-selector{
    display: flex;

    .promotion-piece-type{
      transition: all .2s;
      cursor: pointer;
      padding: 5px;
      margin: 5px;
    }

    .promotion-piece-type svg{
      height: 100px;
      width: 100px;
    }
  }

  .promotion-type-selector.white{
    .promotion-piece-type:hover{
      box-shadow: 0 0 10px 1px white;
    }
  }

  .promotion-type-selector.black{
    .promotion-piece-type:hover{
      box-shadow: 0 0 10px 1px black;
    }
    .promotion-piece-type svg{
      fill: black;
    }
  }

  .chess-piece path{
    fill: white;
    stroke: black;
    stroke-width: .5px;
  }
  .black .chess-piece path{
    stroke: white;
    fill: black;
  }

  .draw{
    position: absolute;
    width: 30px;
    bottom: 30px;
    left: 70px;
    cursor: pointer;
    transition: all .3s;
    fill: white;
  }

  .draw.red{
    fill: red;
  }

  .draw:hover{
    transform: scale(1.2);
  }

  .surrender-flag{
    position: absolute;
    width: 30px;
    bottom: 30px;
    fill: white;
    left: 30px;
    cursor: pointer;
    transition: all .3s;
  }

  .surrender-flag.red{
    fill: red;
    transform: scale(1.2);
  }

  .surrender-flag:hover{
    transform: scale(1.2);
  }

}



