
.carcassonne{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;

  .deck{
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 110;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img:nth-last-of-type(2){
      rotate: 20deg;
    }

    img:nth-last-of-type(3){
      rotate: 70deg;
    }

    img:nth-last-of-type(4){
      rotate: 10deg;
    }

    img{
      position: absolute;
      height: 100px;
      left: 0;
      top: 0;
    }

    .deck-size {
      font-size: 2rem;
      font-weight: bolder;
      z-index: 101;
    }
  }

  .game{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .surrender-flag{
      position: absolute;
      width: 30px;
      bottom: 30px;
      fill: white;
      left: 220px;
      cursor: pointer;
      transition: all .3s;
    }

    .surrender-flag.red{
      fill: red;
      bottom: 40px;
      left: 230px;
      transform: scale(1.2);
    }

    .surrender-flag:hover{
      transform: scale(1.2);
    }


    .player-board{
      background: #86c3e9;
      position: absolute;
      bottom: 30px;
      left: 30px;
      outline: 2px solid;
      padding: 10px;
      font-weight: bold;

       table{
        border-collapse: collapse;

        td{
          border: 1px solid black;
          padding: 4px 10px;
        }

         td.border-none{
           border:none;
         }
      }

      .player-row.next{
        border-left: 5px solid;
      }
      .player-row.winner{
        background: rgba(255,255,0, .3);
        border: 2px solid yellow;
      }

      .player-row.winner .player-victory-points{
        color: yellow;
      }

      .player-row{


        .player-name{
          text-shadow: 0 0 10px white
        }

        .player-meeples{

        }

        .player-victory-points{
          color: black;
        }

      }
      .player-row.red .player-name{
        color: red;
      }
      .player-row.blue .player-name{
        color: blue;
      }
      .player-row.yellow .player-name{
        color: yellow;
        text-shadow: 0 0 10px black;
      }
      .player-row.green .player-name{
        color: green;
      }

    }


    .action{

      position: absolute;
      top: 30px;
      right: 30px;
      background: #86c3e9;
      padding: 15px;
      border: 2px solid;

      .next-meeple{
        display: grid;

        .meeple {
          height: 70px;
          width: 100px;
          position: initial !important;
          transform: translate(74px, 50px) scale(1.5);
        }

        .skip{
          background: white;
          color: black;
          font-weight: bold;
          padding: 10px 20px;
          border-radius: 4px;
          font-size: 1rem;
          z-index: 90;
          transition: all .3s;
          outline: 1px solid black;
        }
        
        .skip:hover{
          cursor: pointer;
          transform: scale(1.1);
        }
      }

      .next-tile{

        .tile-wrapper:not(.rotating){
          animation: none !important;
        }

        .tile-wrapper.north{
          animation: east-to-north .3s ease;
          transform: rotate(0deg);
        }
        .tile-wrapper.east{
          animation: south-to-east .3s ease;
          transform: rotate(90deg);
        }
        .tile-wrapper.south{
          animation: west-to-south .3s ease;
          transform: rotate(180deg);
        }
        .tile-wrapper.west{
          animation: north-to-west .3s ease;
          transform: rotate(270deg);
        }

        @keyframes north-to-west {
          0% {transform: rotate(0);}
          100% {transform: rotate(-90deg);}
        }

        @keyframes west-to-south {
          0% {transform: rotate(270deg);}
          100% {transform: rotate(180deg);}
        }

        @keyframes south-to-east {
          0% {transform: rotate(180deg);}
          100% {transform: rotate(90deg);}
        }

        @keyframes east-to-north {
          0% {transform: rotate(90deg);}
          100% {transform: rotate(0deg);}
        }

        .rotate-icon{
          cursor: pointer;
          transition: .15s;
          transform-origin: center;
          margin: 20px auto auto;
          width: min-content;
          svg{
            width: 40px !important;
            height: 40px !important;
          }
        }

        .rotate-icon:not(.rotating):hover{
          transform: scale(1.15);
        }

      }

    }




    .board{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;


      table{
        border-collapse: collapse;
      }

      table td{
        padding: 0;
      }



    }

    .tile-wrapper{
      position: relative;
      border: 3px solid;
      margin: 1px;
    }

    .tile-wrapper.clickable:hover{
      box-shadow: 0 0 0 1px #86c3e9 inset;
      cursor: pointer;
    }


    svg.tile path, svg.tile line, svg.tile polygon, svg.tile rect, svg.tile g{
      transition: .2s;
    }

    /*CITY*/
    svg.tile .city{
      fill: #996600;
    }
    svg.tile .city{
      stroke: black;
      stroke-width: 3px;
    }
    svg.tile .city.clickable:hover{
      fill: #86C3E9;
      cursor: pointer;
    }

    /*FIELD*/
    svg.tile .field{
      fill: lightgreen;
    }
    svg.tile .field.clickable:hover{
      fill: lime;
      cursor: pointer;
      fill: #86C3E9;
    }

    /*ROAD*/
    svg.tile .road{
      stroke: white;
      stroke-width: 8px;
      stroke-linecap: butt;
    }
    svg.tile .road.clickable:hover{
      cursor: pointer;
    }
    svg.tile .road .inside{
      stroke-width: 11px;
      stroke: white;
    }
    svg.tile .road .border{
      stroke-width: 15px;
      stroke: black;
    }
    svg.tile .road.clickable:hover .inside{
      stroke-width: 15px;
      stroke: #86C3E9;
    }
    svg.tile .road.clickable:hover .border{
      stroke-width: 19px;
    }

    /*HOUSE*/
    svg.tile .house{
      fill: black;
    }

    /*MONASTERY*/
    svg.tile .monastery{
      fill: yellow;
      stroke: black;
      stroke-width: 2px;
      transform-origin: center;
    }
    svg.tile .monastery.clickable:hover{
      cursor: pointer;
      transform: scale(1.1);
      fill: #86C3E9;
    }

    /*MEEPLE*/
    svg.meeple{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      overflow: visible;
      stroke: black;
      stroke-width: 2px;
    }
    svg.meeple.red{
      fill: red;
    }
    svg.meeple.blue{
      fill: blue;
    }
    svg.meeple.yellow{
      fill: yellow;
    }
    svg.meeple.green{
      fill: green;
    }

    /*SHIELD*/
    svg.tile .shield{
      fill: dodgerblue;
      stroke: black;
      stroke-width: 2px;
    }

  }

  .lobby{

    .start-button{
      width: 110px;
    }

    .player{
      position: relative;
      height: 40px;
      margin-bottom: 10px;
    }


    .player span{
      box-shadow: inset 4px 4px 10px rgba(0,0,0,0.8);
      padding: 5px 40px;
      font-size: 1.4rem;
      position: relative;
      z-index: 100;
      width: 130px;
      display: block;
    }

    .color{
      transition: all .3s;
      z-index: 99;
      height: 20px;
      width: 20px;
      position: absolute;
      right: 100px;
      top: 0;
    }

    .player:hover .color.red{
      top:0;
      right: -20px;
    }

    .player:hover .color.blue{
      top:0;
      right: -40px;
    }

    .player:hover .color.yellow{
      top:20px;
      right: -20px;
    }

    .player:hover .color.green{
      top:20px;
      right: -40px;
    }

    .color.red{
      background: red;
    }

    .color.blue{
      background: blue;
    }


    .color.yellow{
      background: yellow;
    }


    .color.green{
      background: green;
    }

    .color:hover{
      cursor: pointer;
    }


    .player.red span{
      background-color: red;
    }
    .player.blue span{
      background-color: blue;
    }
    .player.yellow span{
      background-color: yellow;
    }
    .player.green span{
      background-color: green;
    }

  }

  .system-message-wrapper{
    position: absolute;
    width: 100%;
    bottom: 30px;
  }

}



