
.carcassonne{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;

  .game{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .next-tile{
      position: absolute;
      top: 50px;
      right: 50px;
      background: #86c3e9;
      padding: 15px;
      border: 2px solid;

      .tile-wrapper{
        transition: transform .3s ease;
      }

      .tile-wrapper.north{
        transform: rotate(0deg);
      }
      .tile-wrapper.east{
        transform: rotate(90deg);
      }
      .tile-wrapper.south{
        transform: rotate(180deg);
      }
      .tile-wrapper.west{
        animation: north-to-west .3s ease;
        transition-delay: .3s;
        transform: rotate(270deg);
        transition: 0s ease;
      }

      @keyframes north-to-west {
        0% {transform: rotate(0);}
        100% {transform: rotate(-90deg);}
      }

      .rotate-icon{
        cursor: pointer;
        transition: .15s;
        transform-origin: center;
        margin: 20px auto auto;
        width: min-content;
        svg{
          width: 40px !important;
          height: 40px !important;
        }
      }

      .rotate-icon:not(.rotating):hover{
        transform: scale(1.15);
      }

    }

    .board{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;


      table{
        border-collapse: collapse;
      }

      table td{
        padding: 0;
      }



    }

    .tile-wrapper{
      position: relative;
      border: 3px solid;
      margin: 1px;
    }

    .tile-wrapper.clickable:hover{
      box-shadow: 0 0 0 1px #86c3e9 inset;
      cursor: pointer;
    }


    svg.tile path, svg.tile line, svg.tile polygon, svg.tile rect, svg.tile g{
      transition: .2s;
    }

    /*CITY*/
    svg.tile .city{
      fill: chocolate;
    }
    svg.tile .city{
      stroke: black;
      stroke-width: 3px;
    }
    svg.tile .city.clickable:hover{
      fill: #86C3E9;
      cursor: pointer;
    }

    /*FIELD*/
    svg.tile .field{
      fill: lightgreen;
    }
    svg.tile .field.clickable:hover{
      fill: lime;
      cursor: pointer;
      fill: #86C3E9;
    }

    /*ROAD*/
    svg.tile .road{
      stroke: white;
      stroke-width: 8px;
      stroke-linecap: butt;
    }
    svg.tile .road.clickable:hover{
      cursor: pointer;
    }
    svg.tile .road .inside{
      stroke-width: 11px;
      stroke: white;
    }
    svg.tile .road .border{
      stroke-width: 15px;
      stroke: black;
    }
    svg.tile .road.clickable:hover .inside{
      stroke-width: 15px;
      stroke: #86C3E9;
    }
    svg.tile .road.clickable:hover .border{
      stroke-width: 19px;
    }

    /*HOUSE*/
    svg.tile .house{
      fill: black;
    }

    /*MONASTERY*/
    svg.tile .monastery{
      fill: yellow;
      stroke: black;
      stroke-width: 2px;
      transform-origin: center;
    }
    svg.tile .monastery.clickable:hover{
      cursor: pointer;
      transform: scale(1.1);
      fill: #86C3E9;
    }

    /*MEEPLE*/
    svg.meeple{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      overflow: visible;
      stroke: black;
      stroke-width: 2px;
    }
    svg.meeple.red{
      fill: red;
    }
    svg.meeple.blue{
      fill: blue;
    }
    svg.meeple.yellow{
      fill: yellow;
    }

    /*SHIELD*/
    svg.tile .shield{
      fill: dodgerblue;
      stroke: black;
      stroke-width: 2px;
    }

  }

  .lobby{

    .start-button{
      width: 110px;
    }

    .player{
      position: relative;
      height: 40px;
      margin-bottom: 10px;
    }


    .player span{
      box-shadow: inset 4px 4px 10px rgba(0,0,0,0.8);
      padding: 5px 40px;
      font-size: 1.4rem;
      position: relative;
      z-index: 100;
      width: 130px;
      display: block;
    }

    .color{
      transition: all .3s;
      z-index: 99;
      height: 20px;
      width: 20px;
      position: absolute;
      right: 100px;
      top: 0;
    }

    .player:hover .color.red{
      top:0;
      right: -20px;
    }

    .player:hover .color.blue{
      top:0;
      right: -40px;
    }

    .player:hover .color.yellow{
      top:20px;
      right: -20px;
    }

    .player:hover .color.green{
      top:20px;
      right: -40px;
    }

    .color.red{
      background: red;
    }

    .color.blue{
      background: blue;
    }


    .color.yellow{
      background: yellow;
    }


    .color.green{
      background: green;
    }

    .color:hover{
      cursor: pointer;
    }


    .player.red span{
      background-color: red;
    }
    .player.blue span{
      background-color: blue;
    }
    .player.yellow span{
      background-color: yellow;
    }
    .player.green span{
      background-color: green;
    }

  }

}



